[submodule "vendor/cocoaasyncsocket"]
	path = vendor/cocoaasyncsocket
	url = https://code.google.com/p/cocoaasyncsocket
[submodule "vendor/NNUtil"]
	path = vendor/NNUtil
	url = git@github.com:growthfield/NNUtil.git
